{% assign sections = site.pages | sort: 'section' | group_by: 'section' %}
{% for section in sections %}
  {% if section.name != '' %}
    {% assign items = section.items | sort: 'order' %}
    
      {% for pageObj in items %}
        {% if pageObj.order > 0 %}
          {% if currentPageFound == true %}
            {% assign nextPageUrl = pageObj.url %}
            {% assign nextPageTitle = pageObj.title %}
            {% assign currentPageFound = false %}
          {% endif %}
          {% if pageObj.title == page.title %}
          {% assign currentPageFound = true %}
            {% if lastUrl %}
              {% assign prevPageUrl = lastUrl %}
              {% assign prevPageTitle = lastTitle %}
            {% endif %}
          {% endif %}
          {% assign lastUrl = pageObj.url %}
          {% assign lastTitle = pageObj.title %}
        {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>

    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        <div class="navigationbox">
          {% if prevPageUrl %}
          <a class="navigation_bottom" href="{{site.baseurl}}/">↖︎ zum Inhaltsverzeichnis</a><br>
          {% endif %}
          <div class="flexboxnav">
            {% if prevPageUrl %}
            <a class="navigation_bottom" href="{{ site.baseurl }}{{ prevPageUrl }}">← {{ prevPageTitle }}</a>
            {% else %}
            <a class="navigation_bottom" href="{{site.baseurl}}/">↖︎ zum Inhaltsverzeichnis</a><br>
            {% endif %}
            {% if nextPageUrl %}
            <a class="navigation_bottom right" href="{{ site.baseurl }}{{ nextPageUrl }}">{{ nextPageTitle }} →</a><br>
            {% endif %}
          </div>
        </div>
      </header>
      <section>

      {{ content }}

      </section>

      <div class="navigationbox">
        {% if prevPageUrl %}
        <a class="navigation_bottom" href="{{site.baseurl}}/">↖︎ zum Inhaltsverzeichnis</a><br>
        {% endif %}
        <div class="flexboxnav">
          {% if prevPageUrl %}
          <a class="navigation_bottom" href="{{ site.baseurl }}{{ prevPageUrl }}">← {{ prevPageTitle }}</a>
          {% else %}
          <a class="navigation_bottom" href="{{site.baseurl}}/">↖︎ zum Inhaltsverzeichnis</a><br>
          {% endif %}
          {% if nextPageUrl %}
          <a class="navigation_bottom right" href="{{ site.baseurl }}{{ nextPageUrl }}">{{ nextPageTitle }} →</a><br>
          {% endif %}
        </div>
      </div>



      <footer>
        <p class="subtitle">
        Andreas Bresinsky<br>
        Soundsostraße 42<br>
        12345 Regensburg und so<br>
        <br>
        Bei Fragen oder Anfragen melden Sie sich gerne bei mir direkt<br>
        +49 123 4567890<br>
        email@soundso.de<br>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
