<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      </header>
      
      <div class="titleImage">
        <img src="{{site.baseurl}}/assets/img/bresinsky_by_helmut_wanner.jpeg" alt="title" />
        <p class="subtitle">Bildquelle: <a href="https://www.mittelbayerische.de/archiv/1">www.mittelbayerische.de</a> - Foto Helmut Wanner</p>
      </div>

        <ul class="inhalt">
          {% assign sections = site.pages | sort: 'section' | group_by: 'section' %}
          {% for section in sections %}
            {% if section.name != '' %}
              {% assign items = section.items | sort: 'order' %}
              {% assign sectionindex = items[0].section | minus: 1 %}
              {% assign sectiontitle = site.data.variables.sections[sectionindex] %}
              {% assign sectionkuerzel = site.data.variables.section_kuerzels[sectionindex] %}

              <!-- {{section}} -->
              
              <li><a href="{{site.baseurl}}{{ items[0].url }}">{{ sectiontitle }} <span class="kuerzel">-> {{ sectionkuerzel }}</span></a></li>
              {% if section.size > 1 %}
              <ul>
                {% for page in items %}
                {% if page.order > 0 %}
                    <li><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }} <span class="kuerzel">->{{ sectionkuerzel }}{{ page.order}}</span></a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}  
            {% endif %}
          {% endfor %}
          </ul>
  
      <section>

      {{ content }}

      </section>
      <footer>
        <p class="subtitle">
        Bei Fragen oder Anfragen melden Sie sich gerne bei mir direkt<br>
        email@soundso.de<br>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
